{% extends 'base.html' %}

{% block content %}

<h1>PETICIONES</h1>
<head>
    <nav>
        <ul>
            <li>
                <a href="/detalles">Detalle de Mensajes por Usuario</a>
            </li>
            <li>
                <a href="/resumen">Resumen de pesos por Usuario</a>
            </li>
            <li>
                <a href="/solicitudes">Prueba de solicitudes de creacion de mensajes</a>
            </li>
        </ul>
    </nav>
    
</head>
<body>
    
</body>

{% endblock %}
