{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title>SOLICITAR SERVICIO</title>
	<link rel="stylesheet" type="text/css" href="">
</head>
<body>
	<h1>BIENVENIDO</h1>
	<form action="resultados/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<label for="lugar">Lugar y Fecha: Guatemala, {{ fecha }} {{ hora }}</label><br>
		<label for="usuario">Usuario: </label>{{ form.usuario }}<br>
		<label for="red_social">Red social: ChapinChat</label><br>
		<label for="mensaje">Mensaje:</label>{{ form.mensaje }}<br>
		<label for="archivo">Cargue el archivo con los perfiles y palabras descartadas aqui:</label><br>
		<input type="file" id="archivo" name="archivo" accept="application/xml"><br><br>
		<button type="submit">Enviar mensaje</button>
	</form>
</body>
</html>

{% endblock %}

