{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOLICITUDES</title>
</head>
<body>
    <h1>PRUEBA DE SOLICITUDES DE CREACION DE MENSAJES</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar archivo</button>
    </form>
</body>
</html>
{% endblock %}